
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Donald' Blog</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" th:href="@{~/favicon.ico}">
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/plugins/admin/style.min.css" th:href="@{/plugins/admin/style.min.css}">
    <link rel="stylesheet" href="/backend/style.css" th:href="@{/backend/style.css}">
</head>

<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="404.html" th:href="@{/backend/dashboard/index}"><img th:src="@{/logo.png}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="404.html" th:href="@{/backend/dashboard/index}"><img th:src="@{/logo.png}" alt="Logo"></a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="404.html" th:href="@{/backend/dashboard/index}"> <i class="menu-icon fa fa-dashboard"></i>首页 </a>
                </li>
                <h3 class="menu-title">系统设置</h3><!-- /.menu-title -->
                <li>
                    <a href="404.html" th:href="@{/backend/config/index}"> <i class="menu-icon ti-email"></i>设置 </a>
                </li>
                <li>
                    <a href="404.html" th:href="@{/backend/menu/index}"> <i class="menu-icon ti-email"></i>菜单 </a>
                </li>
                <li>
                    <a href="404.html" th:href="@{/backend/feedback/index}"> <i class="menu-icon ti-email"></i>留言 </a>
                </li>
                <li>
                    <a href="404.html" th:href="@{/backend/friendlink/index}"> <i class="menu-icon ti-email"></i>友情链接 </a>
                </li>

                <h3 class="menu-title">文章</h3><!-- /.menu-title -->
                <li>
                    <a href="404.html" th:href="@{/backend/article/index}"> <i class="menu-icon ti-email"></i>文章 </a>
                </li>
                <li>
                    <a href="404.html" th:href="@{/backend/mood/index}"> <i class="menu-icon ti-email"></i>随笔 </a>
                </li>
                <li>
                    <a href="404.html" th:href="@{/backend/category/index}"> <i class="menu-icon ti-email"></i>分类 </a>
                </li>


                <h3 class="menu-title">广告</h3><!-- /.menu-title -->
                <li>
                    <a href="404.html" th:href="@{/backend/advert/index}"> <i class="menu-icon ti-email"></i>广告 </a>
                </li>
                <li>
                    <a href="404.html" th:href="@{/backend/advert-category/index}"> <i class="menu-icon ti-email"></i>广告位 </a>
                </li>
            </ul>
        </div>
    </nav>
</aside>

<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            </div>
            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" th:src="@{/logo.png}" alt="User Avatar">
                    </a>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa-user"></i> 修改密码</a>
                        <form action="@{/logout}" method="post">
                            <input type="submit" value="退出" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="breadcrumbs">
        <section layout:fragment="breadcrumb">
            <p>breadcrumb</p>
        </section>
    </div>

    <div class="content mt-3">
        <div layout:fragment="content">
            <p>Page content goes here</p>
        </div>
        @Copyright 2020 版权归Donald 个人所有
    </div>
</div>


<script src="/plugins/jquery/jquery-3.4.1.min.js" th:src="@{/plugins/jquery/jquery-3.4.1.min.js}"></script>
<script src="/plugins/popper/popper.min.js" th:src="@{/plugins/popper/popper.min.js}"></script>
<script src="/plugins/bootstrap/bootstrap.min.js" th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<script src="/plugins/plupload/plupload.min.js" th:src="@{/plugins/plupload/plupload.full.min.js}"></script>
<script src="/plugins/tinymce/tinymce.min.js" th:src="@{/plugins/tinymce/tinymce.min.js}"></script>
<script src="/backend/script.js" th:src="@{/backend/script.js}"></script>

</body>

</html>
