<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>广告位</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>广告位</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a th:href="@{/backend/dashboard/index}">首页</a></li>
                    <li><a th:href="@{/backend/advert-category/index}">广告位</a></li>
                    <li class="active" th:text="${action eq 'create' ? '添加':'编辑'}"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content">
    <div th:replace="backend/layouts/valid_alert::validAlert"></div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <a class="layui-btn" href="404.html" th:href="@{/backend/advert-category/index}">列表</a>
            </div>
            <div class="card-body card-block">
                <form class="layui-form layui-form-pane" th:action="@{/backend/advert-category/{action}(action=${action})}" th:object="${pojo}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <div class="row form-group">
                        <div class="col col-md-2 col-sm-3 text-right">
                            <label class="form-control-label">名称 <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-12 col-md-10 col-sm-9">
                            <input type="text" placeholder="请输入名称" class="form-control" th:field="*{name}" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2 col-sm-3 text-right">
                            <label class="form-control-label">宽度 <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-12 col-md-10 col-sm-9">
                            <input type="text" placeholder="请输入宽度" class="form-control" th:field="*{width}" />
                            <small class="form-text text-muted">宽度必须是数字</small>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-2 col-sm-3 text-right">
                            <label class="form-control-label">高度 <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-12 col-md-10 col-sm-9">
                            <input type="text" placeholder="请输入高度" class="form-control" th:field="*{height}" />
                            <small class="form-text text-muted">高度必须是数字</small>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col col-md-2 col-sm-3">&nbsp;</div>
                        <div class="col-12 col-md-10 col-sm-9">
                            <input type="submit" class="btn btn-primary" value="提交" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>