<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.don.donaldblog.mapper.ArticleMapper">
    <sql id="columnList">
        `id`, `title`, `category_id`, `image`, `content`, `intro`,
        `seo_title`, `seo_keywords`, `seo_description`, `url`, `click`, `sort`, `status`, `created`, `updated`
    </sql>
    <resultMap id="tableMap" type="Article">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="categoryId" column="category_id" />
        <result property="image" column="image" />
        <result property="content" column="content" />
        <result property="seoTitle" column="seo_title" />
        <result property="seoKeywords" column="seo_keywords" />
        <result property="seoDescription" column="seo_description" />
        <result property="url" column="url" />
        <result property="click" column="click" />
        <result property="sort" column="sort" />
        <result property="status" column="status" />
        <result property="created" column="created" />
        <result property="updated" column="updated" />
    </resultMap>
    <resultMap id="withCategory" type="Article">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="categoryId" column="category_id" />
        <result property="image" column="image" />
        <result property="content" column="content" />
        <result property="seoTitle" column="seo_title" />
        <result property="seoKeywords" column="seo_keywords" />
        <result property="seoDescription" column="seo_description" />
        <result property="url" column="url" />
        <result property="click" column="click" />
        <result property="sort" column="sort" />
        <result property="status" column="status" />
        <result property="created" column="created" />
        <result property="updated" column="updated" />
        <association property="category" column="category_id" javaType="Category"
                     select="com.don.donaldblog.mapper.CategoryMapper.getById" />
    </resultMap>

    <select id="getAll" resultMap="withCategory">
        SELECT
        <include refid="columnList" />
        FROM article
        ORDER BY `id` DESC
    </select>

    <select id="getSearch" parameterType="Map" resultMap="withCategory">
        SELECT
        <include refid="columnList" />
        FROM article
        <where>
            <if test="title != null and title !=''">
                <bind name="titleLike" value="'%' + _parameter.title + '%'"/>
                `title` LIKE #{titleLike}
            </if>
            <if test="categoryId != null and categoryId > 0">
                and `category_id` = #{categoryId}
            </if>
            <if test="status != null and status >= 0">
                and `status` = #{status}
            </if>
        </where>
        ORDER BY `id` DESC
    </select>

    <select id="getById" parameterType="Integer" resultMap="withCategory">
        SELECT
        <include refid="columnList" />
        FROM article
        WHERE `id` = #{id}
    </select>

    <select id="getHotList" resultMap="tableMap">
        SELECT
        <include refid="columnList"/>
        FROM article
        WHERE `status` = 0
        ORDER BY `click` DESC
        LIMIT 10
    </select>

    <select id="getNewList" resultMap="tableMap">
        SELECT
        <include refid="columnList"/>
        FROM article
        WHERE `status` = 0
        ORDER BY `id` DESC
        LIMIT 10
    </select>

    <select id="getCategoryCount" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*)
        FROM article
        WHERE `category_id` = #{categoryId}
    </select>

    <insert id="create" parameterType="Article" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO article(
            `title`, `category_id`, `image`, `content`, `intro`,
            `seo_title`, `seo_keywords`, `seo_description`, `url`,
            `click`, `sort`, `status`, `created`, `updated`
        ) VALUES (
            #{title}, #{categoryId}, #{image}, #{content}, #{intro},
            #{seoTitle}, #{seoKeywords}, #{seoDescription}, #{url},
            #{click}, #{sort}, #{status}, #{created}, #{updated}
        )
    </insert>

    <update id="update" parameterType="Article">
        UPDATE article
        <set>
            `title` = #{title},
            `category_id` = #{categoryId},
            `image` = #{image},
            `content` = #{content},
            `seo_title` = #{seoTitle},
            `seo_keywords` = #{seoKeywords},
            `seo_description` = #{seoDescription},
            `url` = #{url},
            `sort` = #{sort},
            `updated` = #{updated}
        </set>
        WHERE `id` = #{id}
    </update>

    <update id="updateClick">
        UPDATE article
        SET `click` = #{click}
        WHERE `id` = #{id}
    </update>

    <update id="softDelete">
        UPDATE article SET `status` = #{status} WHERE `id` = #{id}
    </update>
</mapper>