<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.don.donaldblog.mapper.CategoryMapper">
    <sql id="columnList">
        `id`, `name`, `sort`, `parent_id`, `level`, `seo_title`, `seo_keywords`, `seo_description`,
        `is_single`, `content`, `count`, `created`, `updated`
    </sql>
    <resultMap id="tableMap" type="Category">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="sort" column="sort" />
        <result property="parentId" column="parent_id" />
        <result property="level" column="level" />
        <result property="seoTitle" column="seo_title" />
        <result property="seoKeywords" column="seo_keywords" />
        <result property="seoDescription" column="seo_description" />
        <result property="isSingle" column="is_single" />
        <result property="content" column="content" />
        <result property="count" column="count" />
        <result property="created" column="created" />
        <result property="updated" column="updated" />
    </resultMap>

    <select id="getAll" resultMap="tableMap">
        SELECT
        <include refid="columnList" />
        FROM category
        ORDER BY `sort`, `id` DESC
    </select>

    <select id="getNativeAll" resultMap="tableMap">
        SELECT
        <include refid="columnList"/>
        FROM category
        ORDER BY `sort`, `id` DESC
    </select>

    <select id="getChildrenList" parameterType="Integer" resultMap="tableMap">
        SELECT
        <include refid="columnList"/>
        FROM category
        WHERE `parent_id` = #{id}
        ORDER BY `sort`, `id` DESC
    </select>

    <select id="getById" parameterType="Integer" resultMap="tableMap">
        SELECT
        <include refid="columnList" />
        FROM category
        WHERE `id` = #{id}
    </select>

    <insert id="create" parameterType="Category" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO category(
            `name`, `sort`, `parent_id`, `level`, `seo_title`, `seo_keywords`, `seo_description`,
            `is_single`, `content`, `count`, `created`, `updated`
        ) VALUES (
            #{name}, #{sort}, #{parentId}, #{level}, #{seoTitle}, #{seoKeywords}, #{seoDescription},
            #{isSingle}, #{content}, #{count}, #{created}, #{updated}
        )
    </insert>

    <update id="update" parameterType="Category">
        UPDATE category
        <set>
            `name` = #{name},
            `sort` = #{sort},
            `seo_title` = #{seoTitle},
            `seo_keywords` = #{seoKeywords},
            `seo_description` = #{seoDescription},
            `is_single` = #{isSingle},
            `content` = #{content},
            `updated` = #{updated}
        </set>
        WHERE `id` = #{id}
    </update>

    <update id="updateCount">
        UPDATE category
        SET `count` = #{count}
        WHERE `id` = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM category WHERE `id` = #{id}
    </delete>
</mapper>